mixin education(name, data)
  h2
    a.mode-switcher
      span.icon
    | #{data.label}

  each item in data.content
    .item
      header.cf
        h3.name #{item.title}
        span.institution
          if item.institution.website
            a(href=item.institution.website, target='_blank') #{item.institution.name}
          else
            | #{item.institution.name}
        if item.location
          span.location.meta.light #{item.location}
        span.period.meta.light
          if item.period.start
            | #{item.period.start} –&nbsp;
          | #{item.period.end}
      .details
        if item.description
          p.description
            | #{item.description}
        if item.meta
          footer.cf.meta
            label.light course program & topics:
            p.dark
              each meta in item.meta
                span #{meta};
                | &nbsp;
