mixin tech_experience(name, data)
    h2 #{data.label}
    .categories.cf
        each val, index in data.content
            .category(data-experience=index)
                h3.label #{val.label}
                ul
                    each tech in val.list
                        li
                            span.name #{tech.title}
                            span.period.meta.light #{tech.period}
                            if tech.level
                                span.level.meta.light(class='level-' + tech.level.toLowerCase(), title=tech.level)